*{ 
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}
/*
header{
    height: 10vh;
}
main{
    height: 70vh;
}
footer{
    height: 20vh;
}
*/
/*seccion 2 - Propiedades destacadas - */

.titulo_vtaalq {
    text-align: center;
    padding: 20px;
}

.cuadros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.casa {
    position: relative;
    border: 2px solid #b72b2d;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.casa img {
    width: 100%;
    height: auto;
    display: block;
}

.casa .boton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);    
    color:white;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 3px;
}

.casa:hover {
    transform: scale(1.05); /*agranda boton*/
}

.casa:hover .boton {
    background-color: #b72b2d; 
}

/*Carrusel*/

li{
    list-style-type: none;
}

.slide img{
   height: 600px;
   width: 600px;
}

/* ----- Propiedas destacadas hoja vta --------- */

.casa .texto{

    position:absolute;
    top: 180px;
    bottom: 20px;
    left: 100px;
    color: red;
    /*background-color: grey;*/
    padding: 30px;


}

.casa .botonv {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);    
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 3px;
}

.casa:hover .botonv {
    background-color:black; 
}




/* ------ cambio formato pantalla grids-----*/

@media screen and (max-width: 480px) {
    .cuadros {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 2fr;
      
    }

    
}