/***************- Hoja Inicio - *******************/

/*Imagen Principal, Institucional */

.titimg {
  font-family: $fuente-tit;
}

/* sec Propiedades destacadas */

.titulo {
  color: $color-titulo2;
  text-align: center;
  font-family: $fuente-tit;
}

.cuadroscasa {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  text-decoration: none;
  border: 2px solid $color-boton1;
  transition: transform 0.3s ease, border-color 0.3s ease;

  &:hover {
    transform: scale(1.05);
    border-color: $color-boton2;
  }

  .imgcasa {
    width: 100%;
    display: block;
  }

  .botn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: $color-interno;
    background-color: $color-boton2;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: $fuente-tit;
    transition: background-color 0.3s ease;
    }

  &:hover .botn {
    background-color: $color-boton1;
  }

  .txboton {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

/*secccion 3 Nuev. Lanz*/

.btne {
  background-color: $color-boton1;
  color: $color-interno;
}

/*sec 4 Carrusel*/

li {
  list-style-type: none;
}

.slide img {
  height: 450px;
  width: 300px;
}

/*sec 4 video y texto*/

.video {
  margin-right: 100px;
}

/***************- Hoja ventas - *******************/

.textocuadros {
  text-align: right;
  color: $color-titulo2;
  font-family: $fuente-tit;
  text-decoration: none;
}

/***************- Hoja casa - *******************/

.icono-texto {
  display: flex;
  align-items: center;
  margin: 5px;

  .icono-img {
    width: 60px;
    height: auto;
  }

  .icono-numero {
    font-size: 30px;
    margin-left: 15px;
    color:$color-titulo;
  }
}

.imginterior {
  transition: transform 0.3s ease, z-index 0.3s ease;
  height: 100px;
  margin-top: 10px;
}

.imginterior:hover {
  transform: scale(5);
  z-index: 10;
}
