@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
$color-titulo: #390D02;
$color-titulo2: #9d2507;
$color-boton1:#a52502cf;
$color-boton2:#031215a0;
$color-fondo:#878787;
$color-fondo2:#CACACA;
$color-interno:#FFFFFF;
$fuente-tit: "Moderustic", sans-serif;
$btn-btn-outline-danger:$color-boton1;

