@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
$color-titulo: #390D02;
$color-boton1:#A52502;
$color-boton2:#000B0D;
$color-fondo:#878787;
$color-fondo2:#CACACA;
$color-interno:#FFFFFF;
$fuente-tit: "Moderustic", sans-serif;

